body {
  background-color: #f0e68c;
}

header {
  padding: 10px 80px 7px 15px;
  position: relative;
  background: #000;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;

/*  font-family: Georgia, Times, serif; */
  font-size: 15px;
/*  font-style: italic; */
}
header h1,
header p {
  display: inline-block;
}
header h1 {
  margin-bottom: 5px;
}
header p {
  color: #bed4dc;
}
header p a {
  color: #67b1cd;
  text-decoration: none;
  border-bottom: 1px dotted;
}
header .share-link {
  padding: 15px 10px 7px;
  position: absolute;
  right: 15px;
  top: -8px;
  background: #55acee;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}
header .share-link:hover {
  background: #469cd1;
}
@media (max-width: 500px) {
  header {
    padding: 15px 80px 15px 15px;
  }
}
.entry {
  text-align: center;
  min-height: 250px;
  position: relative;
}
.entry div {
  position: absolute;
  left: 50%;
  top: 50%;
  box-shadow: 7px 7px 0 rgba(0,0,0,0.1);
}
.entry div:before,
.entry div:after {
  display: block;
  content: '';
  position: absolute;
}

.entry p.name {
  font-family: "Arial",sans-serif;
  text-transform: uppercase;
  color: #999;
  overflow: auto;
  width: 100%;
  position: relative;
  top: 240px;
  left: 0;
  z-index: 100;
  font-size: 9px;
  text-align: center;
}

@media (max-width: 400px) {
  .entry {
      min-height: 175px;
  }
  .entry div {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  .entry p.name {
    top: 160px;
  }
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
@media all and (min-width: 1000px) {
  .entry {
    float: left;
    width: 50%;
  }
  .entry.wide {
    width: 100%;
  }
}

@media all and (min-width: 1500px) {
  .entry {
    float: left;
    width: 33%;
  }
  .entry.wide {
    width: 100%;
  }
}