//colors

//Pantone
@116c: #ffcd00;
@151c: #ff8200
@186c: #c8102e;
@179c: #e03c31;
@193c: #bf0d3e;
@280c: #012169;
@282c: #041e42;
@301c: #004b87;
@347c: #009a44;
@1235c: #ffb81c;
@3415c: #007749;


@ie_grn: @347c;
@ie_org: @151c;
@za_blu: #0c1c8c;
@za_red: @179c;
@za_yel: @1235c;
@za_grn: @3415c;
@gbblu: @280c;
@gbred: @186c;
@jpred: @186c;
@usblu: @282c;
@usred: @193c;
@seblu: @301c;
@seyel: @116c;
@ilblu: rgb(0,51,160);

// Misc. Vars
@main_height: 200px;


//functions
.stripes3vert(@color1, @color2, @color3, @amt1: 1/3, @amt2: 1/3) {
	background-image: linear-gradient(to right, @color1 100% * @amt1, @color2 100% * @amt1, @color2 100% * (@amt1 + @amt2), @color3 100% * (@amt1 + @amt2));
}

.stripes3horz(@color1, @color2, @color3, @amt1: 1/3, @amt2: 1/3) {
	background-image: linear-gradient(to bottom, @color1 100% * @amt1, @color2 100% * @amt1, @color2 100% * (@amt1 + @amt2), @color3 100% * (@amt1 + @amt2));
}