//colors

//Pantone
@032c: #ef3340;
@109c: #ffd100;
@115c: #fdda24;
@116c: #ffcd00;
@117c: rgb(201, 151, 0);
@151c: #ff8200;
@186c: #c8102e;
@179c: #e03c31;
@193c: #bf0d3e;
@280c: #012169;
@282c: #041e42;
@286c: #0033a0;
@301c: #004b87;
@312c: #00a9ce;
@347c: #009a44;
@370c: rgb(101, 141, 27);
@485c: #da291c;
@1235c: #ffb81c;
@1795c: #d22630;
@3415c: #007749;
@3425c: #006341;
@7405c: #f2cd00;

@bs_yel: @115c;
@bs_blu: @312c;
@af_red: #bf0000;
@af_grn: @3425c;
@cn_red: #de2910;
@cn_yel: #ffde00;
@ru_red: @485c;
@ru_blu: @286c;
@ca_red: #d63932;
@pl_red: @1795c;
@de_red: @485c;
@de_yel: @7405c;
@ie_grn: @347c;
@ie_org: @151c;
@za_blu: #0c1c8c;
@za_red: @179c;
@za_yel: @1235c;
@za_grn: @3415c;
@gbblu: @280c;
@gbred: @186c;
@jpred: @186c;
@usblu: @282c;
@usred: @193c;
@seblu: @301c;
@seyel: @116c;
@ilblu: rgb(0,51,160);

// Misc. Vars
@main_height: 200px;


//functions
.stripes(v; @color1; @color2; @amt: 1/2) {
	background-image: linear-gradient(to right, @color1 100% * @amt, @color2 100% * @amt);
}

.stripes(h; @color1; @color2; @amt: 1/2) {
	background-image: linear-gradient(to bottom, @color1 100% * @amt, @color2 100% * @amt);
}

.stripes(v; @color1; @color2; @color3; @amt1: 1/3; @amt2: 1/3) {
	background-image: linear-gradient(to right, @color1 100% * @amt1, @color2 100% * @amt1, @color2 100% * (@amt1 + @amt2), @color3 100% * (@amt1 + @amt2));
}

.stripes(h; @color1; @color2; @color3; @amt1: 1/3; @amt2: 1/3) {
	background-image: linear-gradient(to bottom, @color1 100% * @amt1, @color2 100% * @amt1, @color2 100% * (@amt1 + @amt2), @color3 100% * (@amt1 + @amt2));
}
