//colors
@bgcolor: #f0e68c;

// Misc. Vars
@height: 150px;
@ratio32: @height * 1.5;
@ratio21: @height * 2;
@height40: @height * 0.4;
@height50: @height * 0.5;


//Pantone
@186c: rgb(200, 16, 46);
@356c: green;
@3425c: #006341;


@032c: #ef3340;
@102c: rgb(252, 227, 0);
@109c: #ffd100;
@115c: #fdda24;
@116c: #ffcd00;
@117c: rgb(201, 151, 0);
@151c: #ff8200;
@187c: rgb(166, 25, 46);
@179c: #e03c31;
@193c: #bf0d3e;
@200c: rgb(186, 12, 47);
@201c: rgb(157, 34, 53);
@280c: rgb(1, 33, 105);
@282c: #041e42;
@287c: rgb(0, 48, 135);
@286c: #0033a0;
@293c: rgb(0, 61, 165);
@300c: rgb(0, 94, 184);
@301c: #004b87;
@312c: #00a9ce;
@342c: rgb(0, 103, 71);
@347c: #009a44;
@355c: rgb(0, 150, 57);
@364c: rgb(74, 119, 41);
@348c: rgb(0, 132, 61);
@370c: rgb(101, 141, 27);
@485c: #da291c;
@1235c: #ffb81c;
@1795c: #d22630;
@3415c: #007749;
@7405c: #f2cd00;
@warm_red: rgb(249, 66, 58);
@reflex_blue: rgb(0, 20, 137);

@bs_yel: @115c;
@bs_blu: @312c;
@cn_red: #de2910;
@cn_yel: #ffde00;
@ru_red: @485c;
@ru_blu: @286c;
@ca_red: #d63932;
@pl_red: @1795c;
@de_red: @485c;
@de_yel: @7405c;
@ie_grn: @347c;
@ie_org: @151c;
@za_blu: #0c1c8c;
@za_red: @179c;
@za_yel: @1235c;
@za_grn: @3415c;
@jpred: @186c;
@seblu: @301c;
@seyel: @116c;
@ilblu: rgb(0,51,160);


// Misc. Vars
@main_height: 200px;
@width_3_2: @main_height * 1.5;
@width_2_1: @main_height * 2;

@pct33: 100%/3;


// Functions
.stripes(v; @color1; @color2; @amt: 1/2) {
	background-image: linear-gradient(to right, @color1 100% * @amt, @color2 100% * @amt);
}

.stripes(h; @color1; @color2; @amt: 1/2) {
	background-image: linear-gradient(to bottom, @color1 100% * @amt, @color2 100% * @amt);
}

.stripes(v; @color1; @color2; @color3; @amt1: 1/3; @amt2: 1/3) {
	background-image: linear-gradient(to right, @color1 100% * @amt1, @color2 100% * @amt1, @color2 100% * (@amt1 + @amt2), @color3 100% * (@amt1 + @amt2));
}

.stripes(h; @color1; @color2; @color3; @amt1: 1/3; @amt2: 1/3) {
	background-image: linear-gradient(to bottom, @color1 100% * @amt1, @color2 100% * @amt1, @color2 100% * (@amt1 + @amt2), @color3 100% * (@amt1 + @amt2));
}
