@il_width: @main_height * 11/8;

#il {
  div {
    height: @main_height;
    width: @il_width;
    margin-left: -@il_width / 2;
    margin-top: -@main_height / 2;
    background-image: linear-gradient(to bottom, white  0%, white 9.375%, @ilblu 9.375%, @ilblu 25%, white 25%, white 75%, @ilblu 75%, @ilblu 90.625%, white 90.625%, white 100%);
  }
  div:before {
      height: 72px;
      width: 65px;
      top: 64px;
      left: 105px;
      z-index: 2;
      content: '✡';
      font-size: 93px;
      color: @ilblu;
      line-height: 76px;
      font-weight: 800;
  }
}